// Specific CSS for your home-page
h1 {
  font-size: x-large;
  font-weight: bolder;
  color: rgb(100, 100, 100);
  z-index: 10;
  position: relative;
}

h2 {
  font-size: large;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

h3 {
  font-size: large;
  color: rgb(100, 100, 100);
}

h4 {
  font-size: medium;
  font-weight: bold;
  color: rgb(100, 100, 100);
}

h5 {
  font-size: medium;
  color: rgb(100, 100, 100);
}

p {
  font-size: medium;
  font-weight: lighter;
  color: rgb(100, 100, 100);
}

body {
  font-size: small;
  color: rgb(100, 100, 100);
}

.small-text {
  font-size: small;
}


.show-title {
  margin-top: 80px; /* adjust the value as needed */
}
