<div class="container">
  <h1>ALL OUR COURSES</h1>
    <p><% @courses.each do |c|%></p>
    <ul><%= c.title%></ul>
    <% end %>
  <button class="btn btn-primary"><%= link_to "Create your course", new_course_path %></button>
</div>
