.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.navbar form .form-control {
  width: 100%;
}

.navbar-form {
  width: 500px;
}
