<div class="container">
  <h5 class="my-5">Add a review</h5>
  <%= simple_form_for [@enrolment, @review] do |f| %>
    <div class="mb-3">
      <%= f.input :rating, as: :integer %>
    </div>
    <div class="mb-3">
      <%= f.input :comment, as: :text %>
    </div>
    <%= f.button :submit, class: "btn btn-gradient" %>
  <% end %>
</div>
